<div style="background-color: #FFEFE2;">
  <h1>
    <%= image_tag "logo.png", alt: "Sketto", class: "logo" %>
  </h1>
  <div id="splide" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide"><img src="<%= asset_path 'intro_page1.png' %>" alt="Slide 01"></li>
        <li class="splide__slide"><img src="<%= asset_path 'intro_page2.png' %>" alt="Slide 02"></li>
        <li class="splide__slide"><img src="<%= asset_path 'intro_page3.png' %>" alt="Slide 03"></li>
      </ul>
    </div>
  </div>
  <%= render 'shared/component/top_button' %>
  <%= link_to "ログインして始める", new_user_session_path, class: "btn btn-mysecondary btn-lg w-full sm:w-auto" %>
</div>