<body>
  <h1>目的地の選択</h1>
  <input type="text" id="address" placeholder="住所や施設名を入力">
  <button id="searchBtn">検索</button>

  <button id="drawRoute">ルート検索</button>

  <button id="searchNearby">周辺の駐車場を探す</button>

  <div id="map"></div>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places,marker&callback=initMap">
  </script>

  <%= render 'shared/maps_ready' %>
  <%= render 'shared/map' %>
  <%= render 'shared/set_marker' %>
  <%= render 'shared/search_box' %>
  <%#= render 'shared/geocode_address' %>
  <%#= render 'shared/search_parking' %>
  <%#= render 'shared/route' %>
</body>