<h1>目的地の選択</h1>
<input type="text" id="address" placeholder="住所や施設名を入力">
<button id="searchBtn">検索</button>

<button id="drawRoute">ルート検索</button>

<button id="searchNearby">周辺の駐車場を探す</button>

<button id="naviBtn">ナビ開始</button>
<button id="stopNaviBtn">ナビ終了</button>

<div id="map"></div>

<%= render 'shared/map' %>
<%= render 'shared/maps_ready' %>
<%= render 'shared/set_marker' %>
<%= render 'shared/search_box' %>
<%= render 'shared/geocode_address' %>
<%= render 'shared/search_parking' %>
<%= render 'shared/current_position' %>
<%= render 'shared/walk_route' %>
<%= render 'shared/navigation' %>